body {
    font: 12px sans-serif;
}
.tick > line {
    fill: none;
    stroke: black;
}
.tick > text {
    fill: black;
}
#wrapper {
	clear:both;
}
#chart1 {
    float:left;
}
#chart2 {
	float:left;
	margin-top: 30px;
	margin-left: 20px;
}
.selected {
	stroke: black;
    fill:lightgreen;
    fill-opacity: 100;
}