body {
    font: 12px sans-serif;
}
.tick > line {
    fill: none;
    stroke: black;
}
.tick > text {
    fill: black;
}
#wrapper {
	clear:both;
}
#chart1 {
    float:left;
}
#chart2 {
	float:left;
	margin-top: 30px;
	margin-left: 20px;
}
.xaxisdropdown {
    float: left;
    clear: both;
    margin-left: 430px;
}
.xaxisbutton {
    float: left;
    clear: both;
    margin-left: 475px;
    margin-top: 10px;
}
.hovered {
	stroke: black;
    fill:lightblue;
    fill-opacity: 100;
}
.selected {
	stroke: black;
    fill:lightgreen;
    fill-opacity: 100;
}
.slice {
    font-size: 16pt;
    font-family: Arial;
}